name: Trivy Scan

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  trivy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t insecure-image .

      - name: Run Trivy and create report
        run: |
          mkdir -p trivy-output
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v ${{ github.workspace }}/trivy-output:/root/trivy-output \
            aquasec/trivy:latest image \
            --format json \
            --output /root/trivy-output/report.json \
            insecure-image || true

      - name: Upload Trivy report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-output/report.json
